/* Shared Resources */
/* Amaro - Theme Config */
/*
* Colors
*/
/*
* Colors Sets
*/
/*
* Typography
*/
/*
* Media Queries Break Points
*/
.app {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.app__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 100%;

  .main {
    padding: 5.7rem 0rem 3.2rem;
  }

  &.loading {
    display: none;
  }
}

// @media screen and (min-width: 1180px) {
//   .app__container {
//     width: 1180px;
//   }
// }

.app.app--is-drawer-visible {
  overflow-y: hidden;
  transition: opacity 225ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.app.app--is-drawer-visible:before {
  backface-visibility: visible;
  background: radial-gradient(ellipse at center, #7a7a7a 0, #000 100%);
  bottom: 0;
  content: "";
  height: 100vh;
  opacity: .75;
  pointer-events: all;
  position: fixed;
  right: 0;
  visibility: visible;
  width: 100vw;
  z-index: 15;
}